<app-shop-group-table></app-shop-group-table>
<app-shop-group-table></app-shop-group-table>
<app-shop-group-table></app-shop-group-table>
<app-shop-group-table></app-shop-group-table>
<app-shop-group-table></app-shop-group-table>
<app-shop-group-table></app-shop-group-table>
<app-shop-group-table></app-shop-group-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item><i nz-icon nzType="printer" nzTheme="outline"></i>In hoá đơn</li>
        <li nz-menu-divider></li>
        <li nz-menu-item><i nz-icon nzType="edit" nzTheme="outline"></i>Sửa hoá đơn</li>
        <li nz-menu-item (click)="showConfirm()"><i nz-icon nzType="delete" nzTheme="outline"></i>Xoá hoá đơn</li>
    </ul>
</nz-dropdown-menu>