
<div class="shop-overview">
    <section class="campus" *ngFor="let item of [].constructor(3)">
        <div class="campus__info">
            <h3 class="campus__title">Tầng 1</h3>

            <span class="campus__count">10/12</span>
        </div>

        <div class="table-list">
            <app-table-item *ngFor="let item of [].constructor(8)"></app-table-item>
        </div>
    </section>
</div>

<div class="table-detail">
    <div class="table-detail__wrapper">
        <h3 class="table-detail__title">Bàn 14 - Tầng 1</h3>

        <table class="table-detail__info">
            <tbody>
                <tr>
                    <th>Giờ đến</th>
                    <td>09:32 PM - 28 phút</td>
                </tr>
                <tr>
                    <th>Tình trạng</th>
                    <td>Có yêu cầu (1)</td>
                </tr>
                <tr>
                    <th>Khách</th>
                    <td>Ms Trang</td>
                </tr>
                <tr>
                    <th>Tiếp viên</th>
                    <td>Huyền</td>
                </tr>
            </tbody>
        </table>

        <ul class="order-list">
            <li class="order-item" *ngFor="let item of [].constructor(3)">
                <div class="order-item__row">
                    <p class="order-item__title">
                        Cà phê đen Sài gòn
                    </p>
                    <p class="order-item__amount">
                        <span>2</span> Ly
                    </p>
                </div>
                <div class="order-item__row">
                    <p class="order-item__note">
                        Bình thường
                    </p>
                    <p class="order-item__price">
                        9.000 đ
                    </p>
                </div>
            </li>
        </ul>
    </div>

    <div class="table-detail__actions">
        <button class="main-action" nzBlock nz-button nzSize="large" nzType="primary">Nhận món > Pha chế</button>
        <button class="main-action" nzBlock nz-button nzSize="large" nzType="default">Trả món</button>

        <button nzBlock nz-button nzSize="large" nzType="default">Chuyển</button>
        <button nzBlock nz-button nzSize="large" nzType="default">Nhập</button>
        <button nzBlock nz-button nzSize="large" nzType="default">Ghép</button>
        <button nzBlock nz-button nzSize="large" nzType="default">Tách</button>
    </div>
</div>

<aside class="statistic-today">
    <button nz-button nzType="primary" nzSize="default" nzShape="circle" (click)="addBill()"><i nz-icon
            nzType="download"></i></button>
    <table class="statistic-today__history">
        <thead>
            <tr>
                <th>Mã hoá đơn</th>
                <th>Thời gian</th>
                <th>Thu ngân</th>
                <th>Thanh toán</th>
                <th>Loại TT</th>
            </tr>
        </thead>

        <tbody>
            <tr nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" (contextmenu)="onRightClick($event)"
                [ngClass]="{ 'not-sync': bill.isNotSynced }" *ngFor="let bill of bills$ | async">
                <td>{{ bill._id }}</td>
                <td>{{ bill.billDate | amLocale: 'vi' | amDateFormat: 'hh:mm' }}</td>
                <td>{{ bill.counter.name }}</td>
                <td>{{ bill.total }}</td>
                <td>Cash</td>

                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item><i nz-icon nzType="printer" nzTheme="outline"></i>In hoá đơn</li>
                        <li nz-menu-divider></li>
                        <li nz-menu-item><i nz-icon nzType="edit" nzTheme="outline"></i>Sửa hoá đơn</li>
                        <li nz-menu-item (click)="showConfirm(bill)"><i nz-icon nzType="delete"
                                nzTheme="outline"></i>Xoá hoá đơn</li>
                    </ul>
                </nz-dropdown-menu>
            </tr>
        </tbody>
    </table>

    <table class="statistic-today__logs">
        <thead>
            <tr>
                <th>Thời gian</th>
                <th>Hoạt động</th>
                <th>Thu ngân</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>9:51AM</td>
                <td>Chuyển bàn</td>
                <td>Chuyển bàn 7 sang bàn 8</td>
            </tr>
            <tr>
                <td>10:44AM</td>
                <td>Gộp</td>
                <td>Gộp bàn 20 và 22</td>
            </tr>
        </tbody>
    </table>
</aside>