<button nz-button nzType="danger"><i nz-icon nzType="plus" nzTheme="outline"></i>Thêm mới</button>

<nz-table nzShowSizeChanger [nzData]="listOfRandomUser" [nzFrontPagination]="false" [nzLoading]="loading"
    [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
        <tr>
            <th nzColumnKey="name" [nzSortFn]="true">Name</th>
            <th nzColumnKey="gender" [nzFilters]="filterGender" [nzFilterFn]="true">Gender</th>
            <th nzColumnKey="email" [nzSortFn]="true">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of listOfRandomUser">
            <td>{{ data.name }}</td>
            <td>{{ data.shortName }}</td>
            <td>{{ data.code }}</td>
        </tr>
    </tbody>
</nz-table>