<div class="info">
    <h5 class="food-title">
        Capuchino - Size M
    </h5>

    <div class="notes-container">
        <nz-tag>Ít đường</nz-tag>
        <nz-tag>Thêm sữa</nz-tag>
        <nz-tag nzMode="closeable" (nzOnClose)="onClose()">Thêm sữa</nz-tag>
    </div>
</div>

<div class="image__wrapper">
    <img src="https://lh3.googleusercontent.com/proxy/ushga6H8vC5dUB6QYnvBjrQnU9XWUaHDF_00Vv9ult-d9n7vkOFbzh1sVQWFtU5vJUbpW7j2IOkXGUwrPgemlt8" alt="">
</div>

<span class="price-tag">
    52.000
</span>