:host
    display: block
    border: 1px solid #f2f2f2
    display: flex
    padding: .5rem

.preview-food-wrapper
    width: 120px
    height: 100px
    box-sizing: border-box
    flex-shrink: 0

    img
        width: 100%
        height: 100%
        object-fit: cover

.info
    display: flex
    flex-direction: column
    justify-content: center
    margin-left: .5rem

    .food__title
        font-size: 1rem
        margin-bottom: 0.3rem
