@import '_colors'
    
header
    width: 100vw
    position: fixed
    top: 0
    background-color: $light
    padding: 0 1rem
    display: flex
    justify-content: space-between
    z-index: 1000

    .shop-info
        span
            margin-right: 1rem

            &.brand
                font-weight: bold

    nav
        ul.main-nav
            margin: 0
            li
                display: inline-block
                margin-left: 1rem

footer
    width: 100vw
    position: fixed
    bottom: 0
    background-color: $light
    display: flex
    justify-content: space-between
    padding: 0 1rem
    z-index: 1000

    .system-info
        span
            margin-right: 1rem
