<header>
    <div class="shop-info">
        <span class="brand">Coffee</span>
        <span>ĐC: 20 Lê Thánh Tôn</span>
        <span>Tel: 0935418749</span>
        <span class="shop-id">Mã cửa hàng: 5334</span>
    </div>
    <nav>
        <ul class="main-nav">
            <li>
                <a href="">Hệ thống</a>
            </li>
            <li>
                <a href="">Báo cáo</a>
            </li>
            <li>
                <a href="">Cài đặt</a>
            </li>
            <li>
                <a href="">Quản lý</a>
            </li>
            <li>
                <a href="">Trợ giúp</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <div class="system-info">
        <span><i class="fas fa-globe"></i> IP: 192.168.1.13</span>

        <span><i class="fas fa-server"></i> Kết nối mạng: hoạt động</span>
        <span><img src="assets/images/printer.svg"/> Máy in: Inson</span>
        <span><i class="fas fa-cash-register"></i> Tài khoản: Vi Thị Tú</span>
    </div>

    <div>
        <span><i class="far fa-clock"></i> 7:00AM 12/05/2020</span>
    </div>
</footer>