<span class="group-title">
    Tầng 1
</span>

<app-table-item [data]="{status: 'Idle'}"></app-table-item>
<app-table-item [data]="{status: 'Idle'}"></app-table-item>
<app-table-item [data]="{status: 'Idle'}"></app-table-item>
<app-table-item></app-table-item>
<app-table-item></app-table-item>
<app-table-item [data]="{status: 'Requesting'}"></app-table-item>
<app-table-item [data]="{status: 'Requesting'}"></app-table-item>
<app-table-item [data]="{status: 'Requesting'}"></app-table-item>
<app-table-item [data]="{status: 'Requesting'}"></app-table-item>
<app-table-item></app-table-item>
<app-table-item></app-table-item>
<app-table-item></app-table-item>