<nz-input-number [(ngModel)]="value" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>

<div class="opers-container">
    <div class="buttons-container">
        <div><button nz-button nzSize="large" nzShape="circle">1</button></div>
        <div><button nz-button nzSize="large" nzShape="circle">2</button></div>
        <div><button nz-button nzSize="large" nzShape="circle">3</button></div>
        <div><button nz-button nzSize="large" nzShape="circle">4</button></div>
        <div><button nz-button nzSize="large" nzShape="circle">5</button></div>
        <div><button nz-button nzSize="large" nzShape="circle">6</button></div>
        <div><button nz-button nzSize="large" nzShape="circle">7</button></div>
        <div><button nz-button nzSize="large" nzShape="circle">8</button></div>
        <div><button nz-button nzSize="large" nzShape="circle">9</button></div>
        <div><button nz-button nzSize="large" nzShape="circle">0</button></div>
        <div><button nz-button nzSize="large" nzShape="circle">,</button></div>
        <div><button nz-button nzSize="large" nzShape="circle"> R </button></div>
    </div>

    <div class="right-buttons-container">
        <div><button nz-button nzSize="large" nzShape="circle">+</button></div>
        <div><button nz-button nzSize="large" nzShape="circle">-</button></div>
        <div class="equal"><button nz-button nzSize="large">=</button></div>
    </div>
</div>

<div>
</div>